.column-grid-container
{

    padding: 2rem;

    .hidden
    {
        display:none;

    }

    &.sample
    {

        background-color: #ccc;
        max-width: 1100px;


    }

    .three-width
    {
        width: 29%;

    }

    .grid-item 
    {
        background-color: #ffffee;
        font-size: ms(-1);
        border: 3px solid #ccc;
        margin: 1rem;
        padding: 1rem;
        //  margin: 2%;
        //  padding: 2rem;


        .post-item-post-content
        {
            .post-text
            {
                display: inline;
                
                
            }
            
            .extra-text
            {
                color:red;
                //display:none;
            }


            .full-text-trigger
            {
                color: blue;
                font-family: Orbitron;
                font-size: ms(-1);
                cursor: pointer;
                display: inline;
                &.hidden
                {
                    display:none;
                }
            }
        }

    }
}

